@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  margin: 0px;
}
.black-logo {
  margin-top: 21px;
  margin-bottom: 97px;
}
.navbar {
  list-style-type: none;
  display: flex;
  font-size: 20px;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.nav-item {
  margin-right: 25px;
}
.nav-item img {
  margin-right: 8px;
}
.hero {
  display: flex;
}
.main-image {
  width: 304px;
  height: 356px;
  position: relative;
  z-index: 1;
}
.shadow {
  background-color: #efefef;
  width: 274px;
  height: 41px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: -15px;
}
.man-photo {
  position: relative;
}
.container {
  padding-left: 121px;
}
h1 {
  font-size: 80px;
  font-family: "Roboto Slab";
  margin-top: 43px;
  width: 628px;
  display: flex;
  margin-right: 140px;
  padding-bottom: 25px;
  margin-bottom: 0;
  margin-left: 1px;
}

.text1 {
  font-size: 20px;
  line-height: 30px;
  width: 414px;
  margin: 0;
  margin-left: 1px;
}
.special {
  background-color: #1e4681;
  color: white;
  font-family: "Roboto Slab";
  text-align: center;
  border-radius: 5px;
  width: 483.63px;
  padding: 19px 18px 18px 26px;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  margin: 67px auto 173px 288px;
}
.word {
  text-align: left;
  margin: 0;
}
.name {
  font-size: 20px;
  text-align: right;
  margin-bottom: 0;
  line-height: 26px;
}
h2 {
  font-size: 55px;
  font-family: "Roboto Slab";
}
.course {
  margin: 0;
  height: 93px;
  width: 365px;
}
.text {
  margin-top: 18px;
  font-size: 24px;
  width: 662px;
  margin-right: 190px;
}
.about {
  display: flex;
}
.videographer {
  width: 314px;
  height: 315px;
  position: relative;
  z-index: 1;
}
.videographer-man {
  position: relative;
}
.shadow2 {
  background-color: #efefef;
  width: 366px;
  height: 59px;
  border-radius: 50%;
  position: absolute;
  left: -33px;
  top: 285px;
}
.operator {
  position: relative;
  z-index: 1;
  margin-right: 132px;
}
.operator-man {
  position: relative;
}
.shadow3 {
  background-color: #efefef;
  width: 189px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 33px;
  top: 185px;
}
.time {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.year {
  font-size: 18px;
  margin-right: 95px;
}
.universal {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 162px;
}
.week {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 32px;
  height: 39px;
}
.duration {
  line-height: 23px;
}
.format {
  margin-bottom: 89px;
}
.classnames {
  display: flex;
  list-style-type: none;
  padding-left: 1px;
}
.classes {
  color: #1e4681;
  font-size: 25px;
  margin: 0;
  height: 39px;
}
.classnames li {
  width: 271px;
  margin-right: 120px;
}
.about-course {
  font-size: 18px;
}
.learn {
  margin-top: 249px;
  height: 93px;
  margin-bottom: 21px;
}

.row ul {
  font-size: 24px;
  padding-left: 21px;
  max-width: 683px;
  line-height: 36px;
}
.program {
  margin-top: 248px;
  margin-bottom: 95px;
}
.button {
  box-shadow: 1px 1px 15px 0px #00000040;
  border-radius: 30px;
  background: #ffffff;
  height: 328px;

  display: flex;
  flex-direction: column;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 399px);
  grid-column-gap: 37px;
  grid-row-gap: 41px;
  padding-left: 84px;
  padding-right: 85px;
  margin: 0 auto;
}
.number {
  font-size: 30px;
  margin: 0;
}
.date {
  font-size: 25px;
  margin: 0;
  margin-top: auto;
}
.bottom {
  padding: 11px 14px 23px 19px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.people {
  margin-top: 121px;
  background-color: #efefef;
  padding-bottom: 111px;
}
.students {
  padding: 91px 331px 34px 122px;
  margin: 0;
}
.button1 {
  background-color: #ffffff;
  border-radius: 30px;
  width: 791px;
  box-shadow: 1px 1px 20px 0px #00000040;
  margin-left: 126px;
}
.feedback {
  font-size: 20px;
  padding: 40px 46px 10px 45px;
  margin: 0;
  line-height: 30px;
  margin-bottom: 20px;
}
.woman {
  display: flex;
  padding-left: 26px;
  padding-bottom: 29px;
}
.information {
  margin-left: 30px;
  margin-top: 50px;
}
.people .name {
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto Slab";
  height: 59px;
  padding-right: 29px;
}
.price {
  background-color: #9dc9c8;
  padding-left: 122px;
  padding-bottom: 185px;
}

.facebook {
  width: 32px;
  height: 31px;
}
.text2 {
  font-size: 25px;
  margin: 0;
}
.amount {
  font-size: 80px;
  margin: 0;
  height: 181px;
}
.level {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.layout-item {
  font-size: 18px;
}
.layout {
  font-size: 25px;
  margin: 0;
  margin-bottom: 9px;
}
.level1 {
  width: 294px;
  margin-right: 70px;
}
.begin-course {
  padding-top: 179px;
  padding-bottom: 54px;
  margin: 0;
}
footer {
  background-color: black;
  color: white;
  padding-left: 122px;
  padding-bottom: 23px;
}
.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 146px;
}
.white-logo {
  margin-top: 50px;
  margin-bottom: 30px;
}
.logos {
  margin-right: 22px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.right-side {
  margin-top: 54px;
}
.sync {
  margin: 0;
  font-size: 18px;
  height: 40px;
}
.connection {
  margin-bottom: 25px;
}
.connection span {
  width: 269px;
  font-size: 25px;
  margin-left: 22px;
  margin-right: 146px;
}
